<!DOCTYPE HTML>
<html>
    <head>
        <title>NipponTour</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/main.css"
   </head>
    <body>
      <!-- Common Navbar for each page -->
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/">NipponTour</a>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/places">Places</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/places/new">Add Place</a>
              </li>
            </ul>
            <ul class="navbar-nav navbar-right">
              <li class = "nav-item"><a class = "nav-link" href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li class = "nav-item"><a class = "nav-link" href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              <li class = "nav-item"><a class = "nav-link" href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
          </div>
        </nav>
        
        <!-- Content for different pages goes here -->
 